@import url('app/sign_in/sign_in.scss');
@import url('app/sign_up/sign_up.scss');
@import "assets/styles/header";


html, body {
  background-color: lightgrey;
  height: 100%;
  margin: 0
}

.main-flex {
  display: flex;
  width: 100%;
  height: 100%;
}

.left-block {
  flex: 0 1 50%;
  border: none;
  background: white;
}

.right-block {
  height: 100%;
  display: flex;
  flex: 0 1 50%;
  flex-wrap: wrap;
  flex-direction: column;
  align-items: center;
  background: #2fbcf7;
}

.social-container {
  display: flex;
  flex-direction: row;
  width: 10%;
  justify-content: center;
}

.figure-container {
  margin: 4px;
  max-height:100%;
  text-align: center;

}

.iphone-fig{
  margin-top: 5%;
}

.social-icon, .img-iphone {
  max-height: 100%;
  width: 100%;
  margin: 0;
}

.left-flexbox {
  display: flex;
  flex-direction: column;
  text-align: center;
  width: 45%;
  margin: auto;
}

@media (max-width: 600px), (max-height: 650px) {

  .main-flex {
    flex-direction: column;
    justify-content: center;
    height: auto;
  }

  .left-block {
    height: 50%;
    width: 100%;
  }

  .right-block {
    height: 50%;
    width: 100%;
  }
}

@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 400;
  src: local('Open Sans'), local('OpenSans'), url(https://fonts.gstatic.com/s/opensans/v13/u-WUoqrET9fUeobQW7jkRYX0hVgzZQUfRDuZrPvH3D8.woff2) format('woff2');
  unicode-range: U+0100-024F, U+1E00-1EFF, U+20A0-20AB, U+20AD-20CF, U+2C60-2C7F, U+A720-A7FF;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 600;
  src: local('Open Sans Semibold'), local('OpenSans-Semibold'), url(https://fonts.gstatic.com/s/opensans/v13/MTP_ySUJH_bn48VBG8sNShampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
/* latin */
@font-face {
  font-family: 'Open Sans';
  font-style: normal;
  font-weight: 700;
  src: local('Open Sans Bold'), local('OpenSans-Bold'), url(https://fonts.gstatic.com/s/opensans/v13/k3k702ZOKiLJc3WVjuplzBampu5_7CjHW5spxoeN3Vs.woff2) format('woff2');
  unicode-range: U+0000-00FF, U+0131, U+0152-0153, U+02C6, U+02DA, U+02DC, U+2000-206F, U+2074, U+20AC, U+2212, U+2215, U+E0FF, U+EFFD, U+F000;
}
